[Desktop Entry]
Type=Application
Exec=/opt/lpf_app/dist/linux-unpacked/lpf
Name=Local Pathogen Finder (LPF)
GenericName=Local Pathogen Finder (LPF)
Icon=/opt/lpf_app/images/icons8-dna-helix-100.png
Terminal=false